{{!-- Setup the template that Handlebars can render onto --}}
<div class="container">

    <div class="jumbotron">
        <h1 id="motto">Burger Grille</h1>
        <p id="motto">Make a burger, eat a burger!</p>
        <br>
        <h2 id="motto">Add a Burger</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger" id="motto">Your Burger:</label>
                    <input type="text" id="newburger" name="burger">

                    {{!-- Button that will submit the input into the database --}}

                    <button type="submit" class="btn btn-success" id="addburger"><span
                            class="fa fa-share"></span></button>
                </div>
            </form>
        </panel>
    </div>

    <div class="row">

        <!-- Available Burgers -->

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftcolumn"><strong>Available Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="eatburger btn btn-success" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-hamburger"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Burgers Eaten -->

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightcolumn"><strong>Burgers Eaten</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="trashburger btn btn-warning" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>